.calendar{
    width: 50%;
    left: 0;
    margin-right: auto;
    
}
.toDoBox{
    width: 50%;
    /* margin-left: auto; */
    background-color: #f2f2f2;
    display: block;
    /* align-items: center; */

}