.calendarContainer{
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
    
}
.toDoBox{
    width: 50%;
    background-color: #d1d1d1;
    margin-left: 2rem;
    padding-right: 1rem;
    
}
.calendar{
    width: 50%;
    background-color: #d1d1d1;
    margin-left: 2rem;

}
.todolist{
    font-size: 1.2em;
}